@import '../../common_projects_utilities/css/font-awesome', '../../common_projects_utilities/css/reset';

* {
    margin: 0;
}

/* Fonts */
$roboto: 'Roboto', sans-serif;

/* Colors */
$body-color: #fff;
$primary-color: #000;
$background-color: #171717;
$theme-color: #ff5f5f;

/* GENERAL */
body {
    font-family: $roboto;
    background-color: $background-color;
    color: $body-color;
}
a {text-decoration: none;}
strong {font-weight: 700;}

/* HELPERS */
.text-uppercase {text-transform: uppercase;}
.text-right {text-align: right;}
.text-center {text-align: center;}
.block {display: block;}
.bold {font-weight: 700;}
.link {
    font-weight: 700;
    color: $theme-color;
}
img {
    max-width: 100%;
    height: auto;
}
@mixin paddingBlockInner {
    padding: 125px 0px;
    border-bottom: .5px dashed rgba(254, 254, 254, .5);
}

/* LAYOUT */
.row {
    display: flex;
    &--full-height {height: 100%;}
    &--wrap {flex-wrap: wrap;}
    &--column {flex-direction: column;}
    &--between {justify-content: space-between;}
    &--center {justify-content: center;}
    &--end {justify-content: flex-end;}
    &--acenter {align-items: center;}
    &--aend {align-items: flex-end;}
}

///// HEADER /////
.header {
    margin: 0 auto;
    max-width: 1240px;
    height: auto;
    min-height: 100vh;
    position: relative;

    .topbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 16px 0;
    }

    &__line {
        box-sizing: border-box;
        margin: 0 auto;
        max-width: 972px;

        padding-left: 60px;

        position: relative;
    }

    &__content {
        box-sizing: border-box;
        margin: 0 auto;
        max-width: 972px;

        //Borde izquierdo
        padding-left: 24px;
        border-left: .5px solid #fff;     
            
        ///// Contenido
        padding-top: 185px;
        padding-bottom: 90px;

        &--title, &--subtitle, &--credits, &--summary, &--link {
            max-width: 248px;
        }
    
        &--title { //Imagen
            margin-bottom: 16px;
        }

        &--subtitle {
            opacity: 0.8;
            font-size: 15px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;

            margin-bottom: 32px;

            span {
                display: block;
            }
        }

        &--credits {
            font-size: 15px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;

            padding-bottom: 15px;
            margin-bottom: 40px;

            position: relative;

            &::after {
                position: absolute;
                content: '';
                bottom: 0px;
                left: 0px;
                width: 40px;
                border-bottom: .5px solid #fff;
            }
        }

        &--ilu {
            height: 131px;
            width: 120px;

            margin-bottom: 32px;
        }

        &--summary {
            opacity: 0.5;
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;

            margin-bottom: 42px;
        }

        &--link {
            font-size: 15px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: $theme-color;
            transition: opacity .4s;

            padding-bottom: 6px;

            position: relative;
            cursor: pointer;
            &::after {
                position: absolute;
                content: '';
                bottom: 0px;
                left: 0px;
                width: 40px;
                border-bottom: .5px solid $theme-color;
                transition: width .4s;
            }

            &:hover {
                opacity: .7;
                &::after {width: 80px;}
            }
        }        
    }    

    &__arrow {
        position: absolute;
        top: calc(100vh - 105px);
        left: 35px;

        z-index: 100;
        animation: scrollDown 1.2s infinite linear;
        img {
            cursor: pointer;
        }
    }

    &__chart {
        position: absolute;
        top: 108px;
        left: 50%;
        width: calc(50% - 20px);
        max-width: 80vh;

        svg {
            width: 100%;
            height: 100%;
        }
    }
}

///// CUERPO DEL ESPECIAL /////
.container {
	width: 100%;
	max-width: 1192px;
	margin: 0 auto;
}

.content {
    margin: 0 auto;

    /* Overlay */
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($background-color,.8);
        z-index: 25;
        opacity: 0;
        visibility: hidden;
        transition: opacity .6s, visibility .6s;
        &--visible {
            opacity: 1;
            visibility: visible;
        }
    }    
    .menu {
        position: sticky;
        top: 0;
        border-top: 1px solid $body-color;
        border-bottom: 1px solid $body-color;
        background: $background-color;
        z-index: 50;
        &::after {
            content: '';
            position: absolute;
            top: 41px;
            left: 0;
            width: 100%;
            height: 40px;
            background-image: linear-gradient(to bottom, #171717, rgba(23, 23, 23, 0));
        }
        &--toggled {
            &::after {content: none;}
            .menu__content {transform: translateX(0);}
        }
        &__container {
            display: flex;
            align-items: center;
        }
        &__icon {
            padding: 10px 24px;
            border-left: 1px solid #fffefe;
            border-right: 1px solid #fffefe;
            height: 20px;
            display: flex;
            align-items: center;
        }
        &__title {
            margin-left: 32px;
            font-weight: 700;
            font-size: 15px;
        }
        &__content {
            position: absolute;
            top: 41px;
            left: 0;
            width: 54%;
            height: calc(100vh - 41px);
            overflow: hidden;
            border-right: 1px solid rgba(254,254,254,.5);
            background: rgba($background-color,.98);
            display: flex;
            flex-direction: column;
            transform: translateX(-100%);
            transition: transform .8s;
        }
        &__item {
            height: 16.66%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-bottom: 1px solid rgba(#fefefe,.5);
            &:last-child {margin-bottom: 0}
        }
        &__link {
            color: $body-color;
            &--external {
                font-weight: 700;
                font-size: 15px;
                color: $theme-color;
                display: flex;
                align-items: center;
                span {margin-right: 16px}
            }
            &:not(.menu__link--external) {
                &:hover {
                    .menu__number {
                        color: $theme-color;
                        padding-left: 16px;
                        &::before {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
        &__number {
            font-size: 15px;
            line-height: 1.47;
            color: rgba($body-color,.4);
            margin-bottom: 8px;
            transition: color .5s, padding-left .5s;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: $theme-color;
                opacity: 0;
                visibility: hidden;
                transition: opacity .5s, visibility .5s;
            }
        }
        &__name {
            font-weight: 700;
            font-size: 15px;
            line-height: 1.67;
        }
    }

    .block {
        margin: 0 auto;
        max-width: 1192px;
        &__outer {
            box-sizing: border-box;
            width: 100%;
            height: 38px;
            border-top: .5px dashed rgba(254, 254, 254, .5);

            &.hidden {
                height: 0px;
                border: none;
            }

            &--content {
                margin: 0 auto;
                box-sizing: border-box;

                width: 100%;
                height: 100%;

                display: flex;
                align-items: center;                

                //Texto
                font-size: 15px;
                opacity: 0.5;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.47;
                letter-spacing: normal;
                text-align: left;
                color: #ffffff;           
            }       
        }
        &__inner {
            box-sizing: border-box;
            margin: 0 auto;
            width: 100%;
            max-width: 1192px;

            @include paddingBlockInner;

            /////// MAIN
            &--main {
                box-sizing: border-box;
                margin: 0 auto;
                width: 100%;
                max-width: 972px; //Grid container Zeplin

                padding-left: 84px;

                position: relative;

                &.specific-flex-solution {
                    display: flex;
                    justify-content: space-between;
                }
            }

            /* Cambio del comportamiento sobre el mixin 'paddingBlockInner' > No es lo más adecuado */
            &.special-padding-top {
                padding-top: 48px;
            }   

            &.no-border {
                border-bottom: 0px;
            }

            ////// TEXTO
            &--text-content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                flex-shrink: 0;

                .block__inner--subcontent {
                    max-width: 308px;
                    align-self: flex-end;

                    * {
                        text-align: right;
                    }
                }

                /// Específicos 3 y 4
                &.specific-absolute-solution {
                    position: absolute;
                    &-right {
                        position: absolute;
                        right: 0px;
                    }
                }
            }

            &--title {
                font-size: 24px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #ffffff;

                margin-bottom: 80px;
                max-width: 308px;

                span {
                    display: block;
                }
            }

            &--subtitle {
                font-size: 18px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 25px;
                letter-spacing: normal;
                text-align: left;
                color: #ffffff;

                max-width: 308px;

                &.one-line {
                    max-width: none;
                }
            }

            &--summary {
                opacity: 0.5;
                font-size: 18px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #ffffff;

                margin-top: 24px;
                padding-top: 24px;

                max-width: 308px;

                position: relative;

                &::before {
                    position: absolute;
                    content: '';
                    top: 0px;
                    left: 0px;
                    width: 40px;
                    height: .5px;
                    border-top: .5px solid #fff;
                }

                &.before-end::before {
                    left: calc(100% - 40px);
                }
            }

            ///// VISUALIZACIÓN
            &--viz {
                display: flex;
                justify-content: flex-end;

                &.margin-top_end {
                    display: flex;
                    justify-content: flex-end;

                    margin-top: 48px; //24px
                }

                &.margin-top_start {
                    display: flex;
                    justify-content: flex-start;

                    margin-top: 12px;
                }

                &.margin-to-block {
                    padding-top: 48px;
                }
                &.margin-to-block-double {
                    padding-top: 150px;
                }

                &.margin-to-title {
                    padding-top: 136px;
                }

                &.margin-to-one-line-title {
                    padding-top: 108px;
                    max-height: 168px;
                }

                &.entire-width {
                    img {
                        width: 100%;                       
                    }
                }
            }

            &--double-viz {
                display: flex;
                justify-content: space-between;

                margin-top: 48px;

                div {
                    width: 48%;
                }
            }
        }
    }
}

///// ASIDE /////
.share {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .6s, visibility .6s;
    &.visible {
        opacity: 1;
        visibility: visible;
    }
    &__icon {
        margin: 5px 0;
        width: 32px;
        height: 32px;
        font-size: 16px;
        line-height: 32px;
        border-radius: 50%;
        background: #fff;
        color: $primary-color;
        transition: color .4s;
        &:hover {color: $theme-color;}
    }
}

///// FOOTER /////
.footer {
    height: 190px;
    background-color: #000;
    .footer__logo {
        width: 175px;
    }
}
.legalFooter {box-sizing: border-box;}

.hidden-desktop { display: none; }

/* Animación para flecha */
@keyframes scrollDown {
    0%, 100% {
      opacity: .65;
      transform: translate(-50%,0);
    }
    45% {
      opacity: 1;
      transform: translate(-50%,15px);
    }
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1140px) {
    .content {
        .block__inner--main {
            padding: 0px 84px;
        }

        .block__inner--text-content {
            &.specific-absolute-solution-right {
                right: 84px;
            }
        }
    }
}

@media only screen and (max-width: 939px) {
    .content {
        .block {
            &__inner {
                &--main {
                    &.specific-flex-solution {
                        flex-direction: column;

                        div:first-child {
                            margin-bottom: 48px;
                        }

                        div:last-child {
                            justify-content: flex-start;
                        }
                    }
                }  
                ///// VISUALIZACIÓN
                &--viz {
                    &.margin-to-block-double {
                        padding-top: 200px;
                    }
                    &.margin-to-title, &.margin-to-one-line-title {
                        max-height: none;
                        padding-top: 0px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    // VARIABLES LÓGICAS
    .hidden-desktop {
        display: block;
    }
    .hidden-mobile {
        display: none;
    }

    // CABECERA
    .header {
        position: relative;

        &__line {
            padding-left: 0px;
        }

        &__content {
            padding-top: 60px;
            padding-bottom: 80px;
            padding-left: 16px;
            border-left: 0px;


            &--credits {
                margin-bottom: 275px;
            }
        }
        
        &__chart--mobile {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100vh;
        }

        &__arrow {
            right: 25px;
            left: unset;
            top: 65vh;
        }
    }
    .content {
        .menu {
            padding-left: 0px;
            &::after {top: 69px;}
            &__container {padding: 0 0 0 0;}
            &__icon {
                padding: 24px 16px;
                border-left: 0;
            }
            &__title {margin-left: 16px;}
            &__content {
                top: 70px;
                width: 100%;
                box-sizing: border-box;
                height: calc(100vh - 124px);
                padding: 0 16px;
            }
            &__item {
                padding-left: 0;
                &:last-child {align-self: flex-end;}
            }
        }
        .block {
            &__inner {    
                ///// VISUALIZACIÓN
                &--viz {
                    &.margin-to-block-double {
                        padding-top: 220px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 636px) {
    .content {
        .block {
            &__inner {    
                ///// VISUALIZACIÓN
                &--viz {
                    &.margin-to-block-double {
                        padding-top: 232.5px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .content {
        box-sizing: border-box;
        .block__outer {
            width: auto;
            margin: 0px 16px;}
        .block__inner {
            width: auto;
            padding: 52px 0px;
            margin: 0px 16px;
            &--main { 
                padding: 0px;
                &.specific-flex-solution {
                    flex-direction: column;
                    div:first-child {
                        margin-bottom: 40px;
                    }
                }
            }
            &--title { margin-bottom: 52px; }
            &--text-content {
                margin-bottom: 40px;
                &.specific-absolute-solution, &.specific-absolute-solution-right {
                    position: relative;
                    right: unset;
                }

                .block__inner--subcontent {
                    align-self: flex-start;
                    * {
                        text-align: left;
                    }
                }
            }

            &--summary {
                &.before-end::before {
                    left: 0px;
                }
            }
            
            &--viz {
                justify-content: flex-start;
                &.margin-top_end, &.margin-top_start {
                    justify-content: center;
                    margin-top: 0px;
                }
                &.margin-to-title, &.margin-to-one-line-title, &.margin-to-block, &.margin-to-block-double {
                    padding-top: 0px;
                }

                &.margin-to-block, &.margin-to-block-double {
                    transform: translateX(-16px);
                    &.special-translation {
                        transform: translateX(-16px);
                    }
                }

                &.margin-to-block.not-translate {
                    transform: translateX(0px);
                }

                // picture {
                //     width: 100%;
                //     img {
                //         width: 100%;
                //     }
                // }
            }

            &--double-viz {
                flex-direction: column;
                div {
                    width: 100%;
                }
                div:first-child {
                    margin-bottom: 92px;
                }
            }
        }
    }

    /// ASIDE
    .share {
        box-sizing: border-box;
	    top: auto;
	    right: auto;
	    bottom: 0;
	    transform: none;
	    flex-direction: row;
	    width: 100%;
	    padding: 10px;
	    &__icon {margin: 0 10px;}
        z-index: 300;
	}
}